@import "vendor/misc";

.forkme {
  .ribbon {
    top: -22px;
    right: -62px;

    filter: progid:DXImageTransform.Microsoft.gradient(
      GradientType=0,
      StartColorStr='#000000',
      EndColorStr='#000000'
    );

    filter: progid:DXImageTransform.Microsoft.Matrix(
      M11=0.7071067811865474,
      M12=-0.7071067811865477,
      M21=0.7071067811865477,
      M22=0.7071067811865474,
      SizingMethod='auto expand'
    );

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  }
}
