<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }} - {{ page.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />

    {% stylesheet vendor %}
    {% stylesheet base %}

    {% javascript vendor %}
    {% javascript base %}

    <!--[if lt IE 9]>
    {% stylesheet ie %}
    {% javascript ie %}
    <![endif]-->
  </head>
  <body>
    <div class="topper"></div>
    <div class="container">
      <h1 class="text-center title-text">The Crowbar Project</h1>
    </div>
    {{ content }}

    <footer>
      <p class="text-center">
        Copyright &copy; 2011-2013 <a href="http://dell.com/openstack/">Dell</a>, 2013-2014 <a href="https://www.suse.com/products/suse-cloud/">SUSE</a>. All rights reserved.
      </p>
    </footer>

<!--     <div class="forkme">
      <div class="ribbon">
        <a href="https://github.com/crowbar/crowbar.github.com">Fork me on GitHub</a>
      </div>
    </div> -->
  </body>
</html>
